$primary: #FF5722;
$white: #FFFFFF;
$bg-grey: #f3f1f1;
$grey: #707676;
$light-grey: #d4ded9;

$btn-radius: 4px;
$card-radius: 6px;

$viewport-small: "(max-width: 768px)";
$viewport-medium: "(min-width: 768px) and (max-width: 1023px)";
$viewport-large: "(min-width: 1024px)";


$base-font-size: 16px;
$base-line-height: 1.63;

$base-font: normal normal 400 $base-font-size open-sans, arial, sans-serif;
